package database

import (
	"context"
)

const (
	KeywordDatabase = "database"
	DefaultDatabase  = "{{ .Name }}"
)

func NewValueContext(database string) context.Context {
	return context.WithValue(context.Background(), KeywordDatabase, database)
}
